.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.heading {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}
  
.graph_container {
    display: flex;
    justify-content: center;
    height: 200px;

  }
  
  .y_label {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    width: 20px;
    align-items: center;

  }
  
  .graph {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    width: 40%;
    width: 800px;
    height: 450px;

  }
  
  
  .info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 35px;
    text-align: justify;
    line-height: 1.6;
  
  } 
  
 
  
  .h1 {

  }







































/* 

.container {
  display: block;

}

.graph_container {
 /* box-sizing: border-box; */
 /* display: flex;
 justify-content: center;
} */

/* .y_label {

    float: left;
    width: 20px;
    height: 450px;
    justify-content: center; */
    /* margin-left: auto;
    margin-right: auto; */
    /* color: chartreuse; */
/* } */

/* .graph {
    /* float:left; */
    /* margin-left: auto;
    margin-right: auto;
    width: 40%;
    width: 800px;
    height: 450px; */
/* } */


/* .info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 35px;
    text-align: justify;
    line-height: 1.6; */
  /* text-justify: inter-word; */

/* }  */

/* .heading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    padding: 30px; */ 
    /* background-color: rgb(75, 72, 72); */
    
/* }

.h1 {
    display: block;
    font: rgb(13, 118, 128);
    background: chartreuse;
} */







/* ///////////////////////// */ 



/* #element.style  */
/* .tick {
    stroke-width: 20;
    fill: rgb(255, 255, 255);
    opacity: 1;
    rx: 0px;
    ry: 0px;
    background-color: burlywood;
    color: chartreuse;
} */

/*

.text.ticklabel {
    color: red;
    font-size: 30px;
    rotate: 45;
}

#root > div > div > div.graph > div > svg > g > g.axes > g:nth-child(2) > g > g:nth-child(3) > g > text {
    font-size: 30px;
} */

/* .text.ticklabel {
    font-size: 40px;
}

#root > div > div > div.graph > div > svg > g > g.axes > g:nth-child(1) > g > g:nth-child(1) > g > text {
    font-size: 50px;
}

#root > div > div > div.graph > div > svg */

/* .tickLabel {
    color: green;
    font-size: 60px;

} */

/* .Axis {


} */

/* .tickline {
    stroke:rgb(133, 10, 10)
} */